.product-detail{
    .custom-checkbox{
        .custom-control-label{
            &:empty{
                &::after{
                    top: 0;
                }
            }
        }
    }
    .Collapsible{
        .card{
            .card-body{
                padding: 1.25rem 0 0 0;
            }
        }
    }
    .card-tabs{
        .nav-pills{
            .nav-link{
                padding: 0 10px;
                &:hover{
                    color: #fff;
                    background-color: #46cdb8cf;
                }
                &.active{
                    color: #fff;
                    background-color: #46cdb8cf;
                }
            }
        }
        .tab-pane{
            .SearchForm{
                padding: 0;
                .card{
                    .card-body{
                        padding-top: 0;
                    }
                }
            }
        }
    }
}