.page-detail {
    .Collapsible{
        .form-group{
            &.lineTotal{
                position: relative;
                &::before{
                    content: "";
                    width: 200px;
                    height: 1px;
                    background: #d5d3d3;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
    .card {
        margin-bottom: 15px;

        .card-title {
            padding: 6px 20px;
            display: flex;
            justify-content: space-between;

            .title {
                max-width: 50%;
                line-height: 35px;
                margin-bottom: 0;
                margin-top: 5px;
            }

            .form-group-dropdown-custom {
                max-width: 300px;
                width: 100%;
                margin-bottom: 0 !important;

                button {
                    &.dropdown-toggle {
                        border-color: #1c84e4;
                        background-color: #1c84e4;
                        color: #fff !important;
                    }
                }

            }
        }

        .col-form-label {
            &.icon {
                i {
                    font-size: 20px;
                }
            }
        }

        .mapslink {
            // margin-left: 20px;
            color: #0e82ff;
            font-size: 12px;
            border: none;
            background: transparent;
            cursor: pointer;
        }

        .title {
            font-size: 15px;
            font-weight: 500;
        }

        .table {
            tr {
                .img-product {
                    width: 100px;
                    max-width: 100%;
                }
            }
        }
        
    }

    .listpersonnel {
        position: relative;
        box-sizing: border-box;

        .content {
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: hsl(0, 0%, 100%);
            border-color: hsl(0, 0%, 80%);
            border-radius: 4px;
            border-style: solid;
            border-width: 1px;
            cursor: default;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            min-height: 38px;
            outline: 0 !important;
            position: relative;
            -webkit-transition: all 100ms;
            transition: all 100ms;
            box-sizing: border-box;

            .list-item {
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding: 2px 8px;
                -webkit-overflow-scrolling: touch;
                position: relative;
                overflow: hidden;
                box-sizing: border-box;

                .item {
                    background-color: hsl(0, 0%, 90%);
                    border-radius: 2px;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    margin: 2px;
                    min-width: 0;
                    box-sizing: border-box;

                    .full-name {
                        border-radius: 2px;
                        color: hsl(0, 0%, 20%);
                        font-size: 85%;
                        overflow: hidden;
                        padding: 3px;
                        padding-left: 6px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        box-sizing: border-box;
                    }

                    .icon-del {
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        border-radius: 2px;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        padding-left: 7px;
                        padding-right: 7px;
                        font-size: 13px;
                        box-sizing: border-box;

                        &:hover {
                            background-color: #FFBDAD;
                            color: #DE350B;
                            font-weight: 500;
                        }
                    }
                }
            }

        }
    }
    .ShipmentOrderDetail {
        .Collapsible {
            .Collapsible__trigger {
                padding: 5px 10px;
                .input-group-dropdown-custom {
                    width: 100%;
                    .dropdown-toggle {
                        width: 100%;
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        line-height: 25px; 
                        &::after {
                            position: absolute;
                            top:0;
                            right: 10px;
                            bottom: 0;
                            margin: auto 0;
                        }
                    }
                }
                
            }
        }
    }
    .Collapsible{
        background-color: #fff;
        margin-bottom: 15px;
        
        .Collapsible__contentInner {
            clear: both;
            .row {
                align-items: stretch;
                .card-contact-information {
                    margin-bottom: 0.5rem;
                    .card {
                        height: 100%;
                    }
                    &.card-contact {
                        .card {
                            .card-body {
                                .row-contact-info {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    .sub-row {
                                        display: flex;
                                        align-items: center;
                                        .form-group:first-child {
                                            margin-right: 1rem;
                                        } 
                                    }
                                }
                            }
                            hr {
                                margin: 0.5rem 0 1rem 0;
                            }
                        }
                    }
                }
            }
        }
        .Collapsible__trigger{
            background: #909ba7;
        }
        .card{
            box-shadow: none;
            .card-title{
                background-color: #ffffff;
                padding: 0 10px;
                border: 1px solid #4d525947;
            }
            .card-body{
                border: 1px solid #d6d6d6;
                border-top: 0;
            }
            &.cardCollapsible{
                .card-body{
                    border: none;
                }
            }
        }
    }
}