button {
    &.btnEditCard {
        background-color: #48b0f7;
        border-color: #48b0f7;
        color: #fff;
        border-radius: 4px;
        text-transform: capitalize;
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        margin-top: 5px;
        font-size: 12px;
    }

    &.btn.btn-info {
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        border-radius: 4px !important;

        &:focus {
            box-shadow: none;
        }
    }

    &.btn-delete {
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        border-radius: 4px !important;

        &:focus {
            box-shadow: none;
        }
    }

    &.btn-secondary {
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        border-radius: 4px !important;

        &:focus {
            box-shadow: none;
        }
    }

    &.btn-export {
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        border-radius: 4px !important;

        &:focus {
            box-shadow: none;
        }
    }

    &.btnDelivery {
        background-color: #d64343fa;
        border-color: #d64343fa;
        color: #fff;
        border-radius: 4px;
        text-transform: capitalize;
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        margin-top: 5px;
        font-size: 12px;
    }
    &.btnCoordinates{
        background-color: #ffffff;
        border-color: #8a8a8afa;
        color: #4d5259;
        border-radius: 4px;
        text-transform: capitalize;
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        margin-top: 5px;
        font-size: 12px;
    }
}