
.groupAction{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    button {
        &.btnActionConfirm {
            border: none;
            text-align: center;
            cursor: pointer;
            background-color: transparent;
            border-radius: 4px;
            color: #fff;
            font-size: 11px;
            padding: 3px 5px;
            line-height: initial;
            &:focus{
                box-shadow: none;
                outline: none;
            }
            i{
                font-size: 10px;
            }
            .lbl-unConfirm {
                background: #dc3545;
                padding: 5px 5px;
                border-radius: 5px;
            }
            .lbl-confirm {
                background: #1c9536;
                padding: 5px 5px;
                border-radius: 5px;
                width: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
            
        }
       
    }
    
}
button {
    &.btnHistory {
        background: transparent;
        border: none;
        text-align: center;
        width: 100%;
        cursor: pointer;
        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
    
    
    &.btn-light{
        &:disabled{
            color: #212529;
            background-color: #9c9fa2d4;
            border-color: #bdc0c2;
            opacity: .5;
        }
    }
    &.btnEditCard {
        background-color: #48b0f7;
        border-color: #48b0f7;
        color: #fff;
        border-radius: 4px;
        text-transform: capitalize;
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        margin-top: 5px;
        font-size: 12px;
    }

    &.btn.btn-info {
        line-height: 20px;
        height: 30px;
        padding: 0px 5px;
        border-radius: 4px !important;

        &:focus {
            box-shadow: none;
        }

        &.tofixedButton{
            position: fixed;
            top: 106px;
            left: 40px;
            z-index: 99;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &.btn-export-cus{
            height: 36px;
            border-radius: 0 !important;
            line-height: 20px;
            padding-left: 45px;
        }
    }
    &.btn.btn-history {
        &.btn-warning{
            padding-left: 45px;
        }
    }
    &.btn.btn-confirm{
        line-height: 20px;
        height: 30px;
        padding: 0px 5px;
        border-radius: 4px !important;

        &:focus {
            box-shadow: none;
        }

        &.tofixedButton{
            position: fixed;
            top: 106px;
            left: 40px;
            z-index: 99;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
    &.btn-search-custom {
        background-color: #33cabb;
        border-color: #33cabb;
        color: #fff;
        height: 30px;
        line-height: 20px;
        font-size: 13px;
        font-size: 13px;
        padding: 0 10px;
    }

    &.btn-delete {
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        border-radius: 4px !important;

        &:focus {
            box-shadow: none;
        }
    }
    &.btn-Print{
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        border-radius: 4px !important;
        background: white;
        color: #1b1919;
        border-color: #a9a9a9;
        &:focus {
            box-shadow: none;
        }
    }

    &.btn-secondary {
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        border-radius: 4px !important;

        &:focus {
            box-shadow: none;
        }
    }

    &.btn-export {
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        border-radius: 4px !important;

        &:focus {
            box-shadow: none;
        }
    }

    &.btnDelivery {
        background-color: #d64343fa;
        border-color: #d64343fa;
        color: #fff;
        border-radius: 4px;
        text-transform: capitalize;
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        margin-top: 5px;
        font-size: 12px;
    }

    &.btnCoordinates{
        background-color: #ffffff;
        border-color: #8a8a8afa;
        color: #4d5259;
        border-radius: 4px;
        text-transform: capitalize;
        line-height: 30px;
        height: 30px;
        padding: 0px 5px;
        margin-top: 5px;
        font-size: 12px;
    }
    &.btnDeleteTable{
        border: none;
        background: transparent;
        padding: 0;
        text-align: center;
        width: 100%;
        display: block;
        height: 20px;
        &:hover{
            i{
                color: #f96868;
            }
        }
    }
    &.btn-icon-modal{
        padding: 0;
        line-height: 25px;
        width: 25px;
        height: 25px;
        border: none;
        &.icon-maps{
            background: transparent;
            &:hover {
                color: #007bff;
            }
        }
    }
    
}

.btn-link {
    font-size: 20px;
    color: #48b0f7;
    &:focus{
        color: #48b0f7;
    }
}

.group-btn-update{
    button{
        &.btn{
            &.btn-update-submit{
                padding: 0 10px;
                height: 33px;
                color: white;
                background: #48b0f7;
                border-radius: 5px;
            }
            &.btn-update-cancel{
                padding: 0 10px;
                height: 33px;
                color: white;
                background: #8e8e8e;
                border-radius: 5px;
            }
        }
    }
}