

.lstcomment {
	.comment_account {
		display: block;
		width: 50px;
		float: left;
		.comment_account_img {
			width: 40px;
			height: 40px;
		}
	}
	.comment_info {
		display: block;
		float: left;
		line-height: initial;
		width: 88%;
		.comment_account_name {
			font-size: 11pt;
			font-weight: 700;
			color: #0000ff;
			padding-right: 5px;
		}
		.comment_content {
			font-size: 10pt;
		}
		.comment_account_time {
			font-style: italic;
			font-size: 10px;
			color: #0066ff;
			padding-left: 5px;
			padding-top: 3px;
			white-space: nowrap;
		}
	}
	.form-row {
		margin-top: 10px;
		margin-left: 30px;
		width: 100%;
		.comment_account {
			display: block;
			width: 50px;
			float: left;
		}
		.comment_info {
			width: auto;
		}
	}
}

.comment {
	padding-left: 20px;
	.comment_account {
		.comment_account_img {
			width: 40px;
			height: 40px;
		}
	}
	&.frmcomment{
		padding-left: 0;
		position: relative;
		margin-top: 50px;
		.comment_account {
			position: absolute;
			z-index: 9;
			top: -20px;
			left: 15px;
			display: inline-flex;
			line-height: 40px;
			.comment_account_img {
				width: 40px;
				height: 40px;
				margin-top: -10px;
			}
			.txtFullName {
				padding-left: 10px;
				background: white;
				font-size: 14px;
				font-weight: 400;
			}
		}
		.txtcomment{
			
			textarea{
				padding-top: 20px;
			}
		}
	}
}

.Comments{
	.lstcomment {
		.item {
			margin-left: 0;
			.comment_info{
				.comment_info_account{
					clear: both;
					.comment_account_name {
						font-size: 12px;
						font-weight: 500;
						color: #6d6b6b;
						padding-right: 5px;
					}
				}
				.comment_info_conent{
					clear: both;
					margin-top: 5px;
					.comment_account_time{
						color: #6d6b6b;
					}
				}
			}
		}
	}
}