.btn-group-dropdown {
    .dropdown-toggle-disabled {
        background: #b5b4b4 !important;
        border-radius: 4px !important;
        color: #171717 !important;
        opacity: .5 !important;
    }

    .dropdown-menu {
        width: 100%;
        overflow: hidden;

        .dropdown-item {
            width: 95%;
            padding: 5px;
            font-size: 15px;
            text-align: center;
            font-weight: 400;
            color: #465161;

            &:hover {
                background: #007bff;
                color: #fff;

            }

            &:focus {
                box-shadow: none;
            }
        }
    }
}

.ant-dropdown {
    .dropdown-custom {
        .ant-dropdown-menu-item {
            .dropdown-item {
                color: #4d5259;
            }
            a {
                color: #4d5259;
            }
        }
    }
}