.btn-group-dropdown {
    .input-group-dropdown-custom{
        clear: both;
        .ant-dropdown-trigger{
            &:not(:disabled):not(.disabled){
                background-color: #f2f2f2;
            }
        }
    }
    .dropdown-toggle-disabled {
        background: #b5b4b4 !important;
        border-radius: 4px !important;
        color: #171717 !important;
        opacity: .5 !important;
    }

    .dropdown-menu {
        width: 100%;
        overflow: hidden;

        .dropdown-item {
            width: 95%;
            padding: 5px;
            font-size: 15px;
            text-align: center;
            font-weight: 400;
            color: #465161;

            &:hover {
                background: #007bff;
                color: #fff;

            }

            &:focus {
                box-shadow: none;
            }
        }
    }
}

.ant-dropdown {
    .dropdown-custom {
        .ant-dropdown-menu-item {
            .dropdown-item {
                color: #4d5259;
            }
            a {
                color: #4d5259;
            }
        }
    }
}

.groupSelectDrop{
    clear: both;
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    .react-select {
        width: 70%;
        .css-yk16xz-control, .css-1pahdxg-control {
            min-height: 30px;
            border-color: #808080;
            border-radius: 4px 0 0 4px;
        }
    }
    .input-group-append {
        width: 30%;
        .btn {
            width: 100%;
            border-color: #808080;
            border-radius: 0 4px 4px 0;
            height: 35px;
            padding: 0;
            line-height: 35px;
        }
    }
}
.react-tree-select-cus{
    clear: both;
    width: 100%;
    &.is-invalid{
        .ant-select-selector{
            border: 1px solid #ff0000;
        }
        & ~ .invalid-feedback {
            display: block;
        }
    }
}
