input {
    &.form-control {
        &:focus {
            &[readonly] {
                border-color: #a9a9a9;
            }
        }

        &[readonly] {
            opacity: 1;
            background-color: #e9ecef;
        }

        &:disabled,
        &[readonly] {
            background-color: #f4f5f7;
        }
    }
}

textarea {
    &.form-control {
        &:focus {
            &[readonly] {
                border-color: #a9a9a9;
            }
        }

        &[readonly] {
            opacity: 1;
            background-color: #e9ecef;
        }

        &:disabled,
        &[readonly] {
            background-color: #f4f5f7;
        }
    }
}


.input-group {
    input {
        &.form-control {
            border-radius: 4px !important;
        }
    }
}

.form-group {
    margin-bottom: 0.5rem !important;

    &.form-group-input {
        .custom-control {
            min-width: 18px;
            position: relative;
            display: block;
            min-height: 30px;
            padding-left: 1.5rem;

            .custom-control-label {
                color: #4d5259;
                font-weight: 300;
                margin-bottom: 0;
                position: static;
                line-height: 30px;

                &::before {
                    position: absolute;
                    left: 0;
                    top: 0.4rem;
                    display: block;
                    width: 18px;
                    height: 18px;
                    content: "";
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    border-radius: 0;
                    background-color: #fcfdfe;
                    border: 1px solid #ebebeb;
                    pointer-events: initial;
                }

                &::after {
                    content: "\e64c";
                    line-height: 18px;
                    top: 0.4rem;
                    left: 0px;
                    height: 18px;
                    width: 18px;
                    font-family: themify;
                    font-size: 11px;
                    font-weight: bold;
                    text-align: center;
                    color: #0077ff;
                    display: inline-block;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                    -webkit-transition: -webkit-transform .3s;
                    transition: -webkit-transform .3s;
                    transition: transform .3s;
                    transition: transform .3s, -webkit-transform .3s;
                }
            }

            .custom-control-input {
                position: absolute;
                z-index: -1;
                opacity: 0;
                left: 0;
                top: .4rem;
                width: 18px;
                height: 18px;

                &:focus {
                    &~.custom-control-label {
                        &::before {
                            box-shadow: none;
                        }
                    }

                }

                &:checked {
                    &~.custom-control-label {
                        &::before {
                            background-color: #fcfdfe;
                            border-color: #ebebeb;
                        }

                        &::after {
                            -webkit-transform: scale(1);
                            transform: scale(1);
                            background-image: none;
                        }
                    }
                }
            }

        }

        &.form-group-input-date {
            .input-group {
                .input-group-prepend {
                    .input-group-text {
                        border-radius: 0 5px 5px 0;
                    }
                }

                input {
                    border-radius: 4px;
                }

                .rdt {
                    width: 100%;

                    &.rdtOpen {
                        .rdtPicker {}
                    }

                    &.is-invalid {

                        input {
                            &.form-control {
                                border-radius: 4px;
                                border-color: #dc3545;
                                color: #dc3545;
                            }
                        }

                        &~.invalid-feedback {
                            display: block;
                            position: absolute;
                            top: 35px;

                            @media (max-width: 768px) {
                                position: static;
                            }
                        }
                    }
                }
            }

            &.form-group-input-dates {
                .input-group {

                    .input-date {
                        width: 45%;

                        @media (max-width: 480px) {
                            width: 100%;
                        }
                    }

                    .date-to {
                        width: 10%;
                        font-size: 12px;
                        text-align: center;
                        line-height: 30px;

                        @media (max-width: 480px) {
                            width: 100%;
                        }
                    }

                    .from-date {}

                    &.is-invalid {
                        input {
                            &.form-control {
                                border-radius: 4px;
                                border-color: #dc3545;
                                color: #dc3545;
                            }
                        }

                        .invalid-feedback {
                            display: block;
                            position: absolute;
                            top: 35px;

                            @media (max-width: 768px) {
                                position: static;
                            }
                        }
                    }
                }
            }
        }
    }

    &.form-group-dropdown {
        .input-group-dropdown-custom {
            .input-group-append {
                width: 100%;

                button {
                    &.btn {
                        width: 100%;
                        text-align: left;
                        padding-left: 10px;
                        border-radius: 5px;
                        font-size: 13px;
                        color: #4d5259;

                    }

                    &.dropdown-toggle {
                        position: relative;
                        &::after {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 6px;
                            margin: auto;
                        }
                    }
                }
                .dropdown-menu{
                    width: 100%;
                }
            }
        }
    }
}