.modalconfirmcus {
    .cRBgFJ {
        padding-bottom: 0;
    }
    .form-row{
        .form-group{
            text-align: initial;
        }
    }
    .card{
        margin-bottom: 0;
    }

    .modal-footer {
        border-top: 1px solid #f1f2f3;
        padding-left: 0;
        padding-right: 0;
        button {
            &.btn {
                border-radius: 4px;
                width: auto;
                height: 30px;
                font-size: 12px;
                line-height: 20px;
                padding: 5px 10px;
            }
        }
    }
    &.modalRight{
        .fvAvfi{
            padding: 0;
            height: 100vh;
            overflow: hidden;
            .bijVHI{
                height: 100vh;
                overflow-x: hidden;
               
            }
            .DpTeR{
                height: 100vh;
                overflow-x: hidden;
            }
        }
    }

    .btn-download-file {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        .item{
            clear: both;
            margin-bottom: 20px;
            margin-top: 20px;
            &:last-child{
                margin-bottom: 0px;
                margin-top: 0px;
            }
        }
    }
}