.modalconfirmcus {
    .cRBgFJ {
        padding-bottom: 0;
    }

    .modal-footer {
        border-top: 1px solid #f1f2f3;
    }
}


body {
    &.modal-open {
        &::before {
            content: '';
            background: #bdbdbd;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99999;
            right: 0;
            border: 0;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }
    }
}