.modals {
    .image-gallery {
        .image-gallery-content {
            .image-gallery-slide-wrapper {
                clear: both;
                .image-gallery-fullscreen-button{
                    display: none;
                }
                .image-gallery-play-button{
                    display: none;
                }
                .image-gallery-swipe {
                    .image-gallery-image {
                        img {
                            max-height: calc(100vh - 250px);
                            object-fit: contain;
                            white-space: nowrap;
                            text-align: center;
                        }
                        .image-gallery-description {
                            background: transparent;
                            color: #e26d1a;
                            left: auto;
                            padding: 10px 20px;
                            position: absolute;
                            right: 30%;
                            bottom: 0;
                            letter-spacing: 3px;
                            font-size: 24px;
                        }
                    }
                }
            }
            .image-gallery-left-nav, .image-gallery-right-nav{
                padding: 0px 10px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
            }

        }
    }

    
    &.modalRight{
        clear: both;
       
        .group-info-Route{
            clear: both;
            ul{
                padding-left: 5px;
                li{
                    float: left;
                    list-style: none;
                    margin-right: 10px;
                    
                }
            }
        }
        .nav-group-action{
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-end;
            button {
                margin-right: 5px;
                border-color: transparent;
                border-radius: 4px;
                font-size: 14px;
                cursor: pointer;
                border: none;
                clear: both;
                &.btn-info{
                    width: fit-content;
                }
                &:active, &:focus{
                    outline: none;
                    border: none;
                    box-shadow: none;
                }
                &:hover{
                    background: #48b0f7;
                    color: #fff;
                }

               
            }
        }
        .modal-header{
            border-bottom-color: #c0c0c0b0;
            padding: .5rem 1rem;
            background-color: #c0c0c0b0;
        }
        .modal-footer{
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            border-color: #aaa2a2;
            display: inline-flex;
            justify-content: center;
            padding: .5rem 1rem;
        }
        .group-info-estimates{
            ul{
                padding-left: 0;
                li{
                    list-style: none;
                    float: left;
                    margin-right: 10px;
                    span{
                        span{
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .stepper {
            .stepper-item {
                .step-line {
                    top: 15px;
                    left: calc(-50% + 15px);
                    right: calc(50% + 15px);
        
                    .stepConnector-line {
                        border: 0;
                        height: 3px;
                        border-radius: 1px;
                        background-color: #eaeaf0;
                        display: block;
                    }
                }
        
                .stepLabel {
        
                    .step-icon {
                        width: 30px;
                        height: 30px;
                        background-color: #dcfcfa;
                        .icon {
                            color: #fff;
        
                            i {
                                font-size: 13px;
                            }
                        }
                    }
        
                    .step-label {
                        width: 100%;
                        margin-top: 15px;
                        text-align: center;
                        color: rgba(0, 0, 0, 0.87);
                        font-weight: 500;
                        font-size: 0.875rem;
                        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                        line-height: 1.43;
                        letter-spacing: 0.01071em;
                    }
        
                    .step-time {
                        border: 1px dashed #bbbbbb;
                        padding: 0 20px;
                        margin-top: 15px;
                        text-align: center;
                        color: rgba(0, 0, 0, 0.87);
        
                        @media (max-width: 767px) {
                            display: none;
                        }
                    }
                }
        
                &.step-completed {
                    .stepLabel {
                        .step-icon {
                            color: #fff;
                            background: #33cabb;
                        }
        
                    }
                }
        
                &.step-waiting {
                    .step-line {
                        .stepConnector-line {
                            // background-image: linear-gradient( 95deg,rgb(242,113,33) 0%,rgb(233,64,87) 50%,rgb(138,35,135) 100%);
                            background-image: linear-gradient(136deg, #9fd1f3 0%, #7ac0ff 50%, #1b83e2 100%);
                        }
                    }
                }
            }
        }
        .card{
            .card-body {
                .lstProductSelect{
                    display: inline-block;
                    .group-shipingorder{
                        max-height: 300px;
                        height: 300px;
                        .modal-footer{
                            clear: both;
                            &.modal-footer-center{
                                clear: both;
                            }
                        }
                        .jsgrid {
                            position: relative;
                            width: 100%;
                            font-size: 1em;
                            .jsgrid-grid-header {
                                border: 1px solid #e9e9e9;
                                border-color: #f1f2f3;
                                overflow-x: hidden;
                                overflow-y: scroll;
                                -webkit-user-select: none;
                                -khtml-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                -o-user-select: none;
                                user-select: none;
                            }
                            .jsgrid-table {
                                width: 100%;
                                table-layout: fixed;
                                border-collapse: collapse;
                                border-spacing: 0;
                                .jsgrid-header-row{
                                    .jsgrid-header-cell {
                                        background: #d9d9d9;
                                        font-weight: 400;
                                        padding: .3rem .5rem;
                                        border: 1px solid #e8e4e4;
                                    &:first-child{
                                        border-left: none;
                                    }
                                    }
                                }
                            }
                        }
                        .jsgrid-grid-body{
                            background: #fff;
                            border: 1px solid #f1f2f3;
                            height: 410px;
                            max-height: 350px;
                            overflow-x: auto;
                            overflow-y: scroll;
                            -webkit-overflow-scrolling: touch;
                            .jsgrid-row{
                                .jsgrid-cell {
                                    padding: .2rem .4rem;
                                    border: 1px solid #f3f3f3;
                                    .group-action{
                                        display: flex;
                                        justify-content: space-between;
                                        width: 100%;
                                        align-items: center;
                                        flex-direction: column;
                                        flex-wrap: nowrap;
                                    }
                                    &.high-priority{
                                        background-color: #f3a420;
                                    }
                                    &.medium-priority{
                                        background-color: #f7b547;
                                    }
                                    &.low-priority{
                                        background-color: #f3bd63db;
                                    }
                                
                                    &.group-products{
                                        ul{
                                            padding-left: 0;
                                            margin-bottom: 0;
                                            li{
                                                list-style: none;
                                                &.item{
                                                    &.infoOder{
                                                        display: flex;
                                                        justify-content: space-between;
                                                        span{
                                                            clear: both;
                                                            &.nameOrder{
                                                                color: #2b8eea;
                                                                font-size: 13px;
                                                            }
                                                            &.time{
                                                                font-size: 12px;
                                                                height: 20px;
                                                                font-weight: 700;
                                                            }
                                                        }
                                                    }
                                                    &.infoProduict{
                                                        clear: both;
                                                        span{
                                                            width: 100%;
                                                            text-overflow: ellipsis;
                                                            overflow: hidden;
                                                            white-space: nowrap;
                                                            -webkit-line-clamp: 1;
                                                            -webkit-box-orient: vertical;
                                                            text-align: left;
                                                            display: block;
                                                            height: 25px;
                                                        }
                                                    }
                                                    &.delivery-status{
                                                        display: flex;
                                                        justify-content: space-between;
                                                        flex-direction: row;
                                                        flex-wrap: nowrap;
                                                        align-content: center;
                                                        align-items: stretch;
                                                        span{
                                                            cursor: pointer;
                                                            &.badge-active {
                                                                background: #15c377;
                                                                color: #fff;
                                                            }
                                                            i{
                                                                &.fa-truck{
                                                                    -webkit-transform: rotateY(180deg);
                                                                    -moz-transform: rotateY(180deg);
                                                                    -o-transform: rotateY(180deg);
                                                                    -ms-transform: rotateY(180deg);
                                                                    transform: rotateY(180deg);
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &.address-customer{
                                                        display: flex;
                                                        justify-content: flex-start;
                                                        span{
                                                            text-align: left;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.group-controll{
                                        clear: both;
                                        .form-row{
                                            &:last-child{
                                                
                                                .form-group{
                                                    margin-bottom: 0 !important;
                                                }
                                            }
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .lstProduct{
                    clear: both;
                    .card{
                        border-radius: 7px;
                        .card-body{
                            padding: 0.5rem;
                            ul{
                                padding-left: 0;
                                margin-bottom: 0;
                                li{
                                    list-style: none;
                                    &.item{
                                        &.infoOder{
                                            display: flex;
                                            justify-content: space-between;
                                            span{
                                                &.nameOrder{
                                                    color: #2b8eea;
                                                    font-size: 13px;
                                                }
                                                &.time{
                                                    font-size: 12px;
                                                    height: 20px;
                                                    font-weight: 700;
                                                }
                                            }
                                        }
                                        &.infoProduict{
                                            span{
                                                width: 100%;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                                white-space: nowrap;
                                                -webkit-line-clamp: 1;
                                                -webkit-box-orient: vertical;
                                                text-align: left;
                                                display: block;
                                                height: 20px;
                                            }
                                        }
                                        &.delivery-status{
                                            display: flex;
                                            justify-content: flex-start;
                                            span{
                                                cursor: pointer;
                                                &.badge-active {
                                                    background: #15c377;
                                                    color: #fff;
                                                }
                                                i{
                                                    &.fa-truck{
                                                        -webkit-transform: rotateY(180deg);
                                                        -moz-transform: rotateY(180deg);
                                                        -o-transform: rotateY(180deg);
                                                        -ms-transform: rotateY(180deg);
                                                        transform: rotateY(180deg);
                                                    }
                                                }
                                            }
                                        }
                                        &.address-customer{
                                            display: flex;
                                            justify-content: flex-start;
                                            span{
                                                text-align: left;
                                                line-height: 17px;
                                                font-size: 12px;
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .form-row {
                    .form-group {
                        margin-bottom: .5rem;
        
                        &.form-group-btncustom {
                            text-align: right;
                            width: 100%;
                        }
                    }
        
                    &.customcontrol {
        
                        &>[class*=col-] {
                            padding-left: 3px;
        
                            @media (max-width: 991px) {
                                padding-left: 2px;
                            }
        
                            @media (max-width: 767px) {
                                padding-left: 5px;
                            }
                        }
                    }
        
                    &.form-row-custom-footer {
                        float: right;
                        margin-right: 2px;
                    }
                }
                .table-responsive {
                    &.tableScrollBody {
                        max-height: 650px;
                        .table {
                            .thead-light {
                                .jsgrid-header-row {
                                    .jsgrid-header-cell {
                                        position: sticky;
                                        top: 0;
                                        z-index: 10;
                                    }
                                }
                            }
                        }
                    } 
                }
                .table-custom {
                    clear: both;
                    .table {
                        &.table-history{
                            clear: both;
                            .thead-light {
                                tr {
                                    display: block;
                                }
                            }
                            tbody {
                                max-height: 333px;
                                overflow-y: auto;
                                display: block;
                                width: 100%;
                                tr {
                                    td {
                                        &:nth-child(1) {
                                            width: 124px;
                                        }
                                        &:nth-child(2) {
                                            width: 127px;
                                        }
                                        &:nth-child(3) {
                                            width: 550px;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        
        }

        
    }
}

.modal-content{
    &.modal-custom{
        min-height: 450px;
        &.modal-custom-maps{
            min-height: calc(100vh - 100px);
            .modal-body{
                overflow-y: auto;
            }
        }
    }
}


