.modalconfirmcus {
    .cRBgFJ {
        padding-bottom: 0;
    }
    .form-row{
        .form-group{
            text-align: initial;
        }
    }
    .card{
        margin-bottom: 0;
    }

    .modal-footer {
        border-top: 1px solid #f1f2f3;
        padding-left: 0;
        padding-right: 0;
        button {
            &.btn {
                border-radius: 4px;
                width: auto;
                height: 30px;
                font-size: 12px;
                line-height: 20px;
                padding: 5px 10px;
            }
        }
    }
    &.modalRight{
        .fvAvfi{
            padding: 0;
            height: 100vh;
            overflow: hidden;
            .bijVHI{
                height: 100vh;
                overflow-x: hidden;
               
            }
            .DpTeR{
                height: 100vh;
                overflow-x: hidden;
            }
        }
    }

    .btn-download-file {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        .item{
            clear: both;
            margin-bottom: 20px;
            margin-top: 20px;
            &:last-child{
                margin-bottom: 0px;
                margin-top: 0px;
            }
        }
    }

    .SearchForm{
        margin-top: 10px;
        .checkboxSelectCustom{
            .form-group{
                &.form-group-input{
                    .custom-control{
                        .custom-control-label{
                            line-height: 0;
                            &::before{
                                top: 0;
                                bottom: 0;
                            }
                            &::after{
                                top: 0;
                                bottom: 0;
                            }
                            span{
                                width: 100%;
                                left: 0;
                                position: static;
                                line-height: initial;
                                
                            }
                        }
                    }
                    .lbl-title{
                        display: none;
                    }
                }
            }
        }
    }
    &.modal-list-down{
        .table{
            tbody{
                .action-download {
                    padding: 0 ;
                    position: relative;
                    .btn-download-file{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        z-index: 999;
                        img {
                            width: 40%;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                        }
                    }
                }

            }
        }
    }
    .bg-avatar {
        width: 100%;
        height: 500px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}