.modals {
    .image-gallery {
        .image-gallery-content {
            .image-gallery-slide-wrapper {
                clear: both;
                .image-gallery-fullscreen-button{
                    display: none;
                }
                .image-gallery-play-button{
                    display: none;
                }
                .image-gallery-swipe {
                    .image-gallery-image {
                        img {
                            max-height: calc(100vh - 250px);
                            object-fit: contain;
                            white-space: nowrap;
                            text-align: center;
                        }
                        .image-gallery-description {
                            background: transparent;
                            color: #e26d1a;
                            left: auto;
                            padding: 10px 20px;
                            position: absolute;
                            right: 30%;
                            bottom: 0;
                            letter-spacing: 3px;
                            font-size: 24px;
                        }
                    }
                }
            }
            .image-gallery-left-nav, .image-gallery-right-nav{
                padding: 0px 10px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
            }

        }
    }

    
    &.modalRight{
        clear: both;
        .modal-footer{
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            border-color: #aaa2a2;
            display: inline-flex;
            justify-content: center;
        }
    }
}

.modal-content{
    &.modal-custom{
        min-height: 450px;
        &.modal-custom-maps{
            min-height: calc(100vh - 100px);
            .modal-body{
                overflow-y: auto;
            }
        }
    }
}


