.notification-item-root{
	width: 300px;
	.notification-custom-icon {
		flex-basis: 20%;
		position: relative;
		display: inline-block;
		padding: 8px 8px 8px 12px;
		width: 45px;
		.fa {
			top: 50%;
			left: 50%;
			color: #fff;
			font-size: 28px;
			position: absolute;
			transform: translate(-50%, -50%);
		}
	}
	  
	.notification-custom-success {
		width: 100%;
		display: flex;
		background-color: #28a745;
		.notification-custom-icon {
			border-left: 8px solid darken(#28a745, 15%);
			flex-basis: 25%;
		}
		.notification-custom-content {
			width: 100%;
			padding: 10px 0;
			.notification-message{
				font-size: 11px;
			}
		}
	}
	.notification-danger{
		width: 100%;
		.notification-custom-icon{
			float: left;
			height: 100%;
		}
		.notification-custom-content {
			width: 80%;
			float: left;
			padding: 8px 8px 12px 0px;
			.notification-message{
				font-size: 11px;
			}
		}
	}
}
