$font-weight-600: 600;

.cardShipmentOrder-page{
    background: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
    .jsgrid-header-scrollbar {
        scrollbar-arrow-color: #f1f1f1;
        scrollbar-base-color: #f1f1f1;
        scrollbar-3dlight-color: #f1f1f1;
        scrollbar-highlight-color: #f1f1f1;
        scrollbar-track-color: #f1f1f1;
        scrollbar-shadow-color: #f1f1f1;
        scrollbar-dark-shadow-color: #f1f1f1;
    }
    .card-title {
        padding: 5px;
        .flexbox{
            justify-content: flex-start;
            .btn-toolbar {
                width: 100%;
                margin-left: 0;
                .btn-group{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .group-left {
                        clear: both;
                        width: 70%;
                        display: inline-flex;
                        justify-content: flex-start;
                        button{
                            &.btn-info{
                                line-height: 17px;
                                height: 25px;
                                font-size: 12px;
                            }
                        }
                        .input-group{
                            clear: both;
                            input{
                                line-height: initial;
                                &.form-control{
                                    padding: 0px;
                                    border-radius: 4px 0px 0px 4px !important;
                                    border-color: #ebebeb;
                                }
                            }
                            .input-group-append{
                                .input-group-text{
                                    clear: both;
                                    border-top-right-radius: 4px;
                                    border-bottom-right-radius: 4px;
                                }
                            }
                        }
                        .groupActionRemember {
                            button {
                                padding: 0 10px;
                                height: 25px;
                                line-height: 17px;
                            }
                        }
                    }
                    .group-count {
                        clear: both;
                        ul{
                            clear: both;
                            li{
                                float: left;
                                list-style: none;
                                margin-right: 10px;
                                &:first-child{
                                    margin-right: 0;
                                }
                                span{
                                    font-size: 14px;
                                    line-height: 25px;
                                    &.count-number {
                                        font-weight: 500;
                                        padding-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
               
            }
        }
    }
    .card-body{
        padding: 5px;
        .jsgrid {
            position: relative;
            width: 100%;
            font-size: 1em;
            .jsgrid-grid-header {
                border: 1px solid #e9e9e9;
                border-color: #f1f2f3;
                overflow-x: hidden;
                overflow-y: scroll;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }
            .jsgrid-table {
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
                border-spacing: 0;
                .jsgrid-header-row{
                    .jsgrid-header-cell {
                        background: #d9d9d9;
                        font-weight: 400;
                        padding: .3rem .5rem;
                        border: 1px solid #e8e4e4;
                       &:first-child{
                           border-left: none;
                       }
                    }
                }
            }
        }
        .jsgrid-grid-body{
            background: #fff;
            border: 1px solid #f1f2f3;
            height: 410px;
            max-height: 350px;
            overflow-x: auto;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            .jsgrid-row{
                &.unread {
                    background: #c3dadeb5;
                }
                .jsgrid-cell {
                    padding: .2rem .4rem;
                    border: 1px solid #f3f3f3;
                    ul{
                        padding-left: 0;
                        margin-bottom: 0;
                        li{
                            list-style: none;
                            line-height: initial;
                            margin-bottom: 3px;
                            i{
                                margin-right: 10px;
                            }
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                    &:first-child{
                        border-left: none;
                    }
                    &.action{
                        vertical-align: middle;
                        ul{
                            li{
                                clear: both;
                                button{
                                    padding: 0;
                                    border: none;
                                    background: transparent;
                                    width: 15px;
                                    color: #fff;
                                    height: 25px;
                                }
                                &.printing{
                                    button{
                                        color: #b9b7b7;
                                    }
                                }
                            }
                        }
                        &.undelivery{
                            background-color: #ec3838;
                        }
                        &.waitingDelivery{
                            background-color: #cec823;
                        }
                        &.Uncoordinated{
                            background-color: #abd821;
                        }
                        .group-action{
                            display: flex;
                            justify-content: space-around;
                            .item-action{
                                
                                label{
                                    margin-bottom: 0;
                                    padding: 0;
                                    height: 18px;
                                    .cr{
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                    &.group-address{
                        clear: both;
                        ul{
                            li{
                                clear: both;
                                &.item{
                                    font-size: 12px;
                                    width: 100%;
                                    display: inherit;
                                    float: none;
                                    justify-content: flex-start;
                                    align-content: center;
                                    text-align: left;
                                    i{
                                        line-height:initial;
                                    }
                                    .person-info{
                                        font-weight: 600;
                                        line-height: initial;
                                        font-size: 11px;
                                        .phone{
                                            color: #2b8eea;
                                        }
                                        .partner-sale-Order{
                                            color: #2b8eea;
                                            font-size: 13px;
                                        }
                                        .line{
                                            margin: 0 5px;
                                        }
                                    }
                                    &.address-customer{
                                        font-size: 12px;
                                    }
                                    &.info-customer{
                                        display: inline-flex;
                                    }
                                    &.store{
                                        font-weight: 600;
                                        font-size: 10px;
                                    }
                                    &.times{
                                        font-weight: 600;
                                        font-size: 10px;
                                        .group-times {
                                            width: 100%;
                                            display: inline-flex;
                                            flex: auto;
                                            .time-item {
                                                display: flex;
                                                justify-content: center;
                                               // width: 50%;
                                                flex: auto;
                                                .txtCreatedOrderTime {
                                                    font-weight: 600;
                                                    color: #615d5d;
                                                    display: flex;
                                                    justify-content: flex-start;
                                                    width: 100%;
                                                }
                                                .intervale {
                                                    display: inline-block;
                                                    text-align: right;
                                                    width: 100%;
                                                    float: right;
                                                }
                                                &.itemCreatedOrderTime{
                                                    clear: both;
                                                }
                                                &.itemEstimat{
                                                    clear: both;
                                                }
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                    &.group-infoShipmentOrder{
                        ul{
                            li{
                                &.item{
                                    font-size: 10px;
                                    a{
                                        font-weight: 600;
                                        letter-spacing: 1px;
                                        font-size: 12px;
                                        font-size: 13px;
                                    }
                                    &.user-coordinator{
                                        font-size: 12px;
                                    }
                                    &.user-delivery{
                                        font-size: 12px;
                                    }
                                    &.note{
                                        font-weight: 600;
                                        font-size: 11px;
                                        color: #f96868;
                                    }
                                }
                            }
                        }
                    }
                    &.group-price{
                        clear: both;
                        ul{
                            li{
                                width: 100%;
                                display: flex;
                                height: 20px;
                                float: none;
                                justify-content: flex-end;
                                align-content: center;
                                margin-bottom: 0px;
                                font-size: 12px;
                                white-space: nowrap;
                                &.item{
                                    font-weight: 600;
                                        font-size: 12px;
                                    .total{
                                        color: #f96868;
                                    }
                                    .price-supplies{
                                        color: #f7c110;
                                    }
                                }
                            }
                        }
                    }
                    &.group-products{
                        ul{
                            li{
                                &.item{
                                    &.lstProducts{
                                        span{
                                            width: 100%;
                                            display: block;
                                            font-size: 12px;
                                            margin-bottom: 5px;
                                            font-weight: 600;
                                            &:last-child{
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                    &.note{
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }
                    &.groupTimeDelivery{
                        .group-info{
                            ul{
                                padding-left: 0;
                                margin-bottom: 0;
                                li{
                                    list-style: none;
                                    font-size: 12px;
                                    line-height: initial;

                                    i{
                                        margin-right: 10px;
                                    }
                                    &.times{
                                        color: #2b8eea;
                                        font-weight: 600;
                                        font-size: 11px;
                                    }
                                    &.status{
                                        color: #fc7425;
                                    }
                                    &.vehicle{
                                        color: #15c377;
                                    }
                                    &.printing{
                                        color: #6c757d;
                                    }
                                    .frmDateTime{
                                        float: none;
                                        width: 85%;
                                        padding: 0;
                                        border-radius: 4px;
                                        .ant-picker-input{
                                            input{
                                                border: none;
                                                padding: 2px 5px;
                                            }
                                            .ant-picker-suffix{
                                                margin: 0 4px;
                                            }
                                        }
                                    }
                                    &.statusShipmentOder{
                                        display: flex;
                                        justify-content: space-between;
                                        .badge{
                                            pointer-events: none;
                                            opacity: .3;
                                            line-height: 1;
                                            border-radius: 7px;
                                            color: #ffffffd1;
                                            &.noactive{
                                                clear: both;
                                                &.badge-danger{
                                                    background-color: #f96868c7;
                                                }
                                                &.badge-info{
                                                    background-color: #178ee0a1;
                                                }
                                                &.badge-success{
                                                    background-color: #15c377db;
                                                }
                                            }
                                            &.active{
                                                opacity: 1;
                                                color: #fff;
                                                &.badge-danger{
                                                    background-color: #f96868;
                                                }
                                                &.badge-info{
                                                    background-color: #178ee0;
                                                }
                                                &.badge-success{
                                                    background-color:#03c36f;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:first-child{
                    .jsgrid-cell{
                        border-top: none;
                    }
                }
               
            }
        }
        .jsgrid-grid-footer{
            clear: both;
            padding-top: 5px;
            nav{
                ul{
                    margin-bottom: 0;
                    li{
                        a{
                            &.page-link{
                                min-width: 25px;
                                line-height: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

%btn-clip-board {
    border: none;
    background: transparent;
    font-size: 13px;
    cursor: pointer;
    &:focus{
        outline: none;
        box-shadow: none;
        border: none;
    }
}

.card {
    &.card-shipment-order-mobile-view {
        width: 100%;
        padding: 0.5rem;
        margin: 0.8rem 1rem;
        .card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem;
            .total-orders {
                font-size: 14px;
            }
            .input-group {
                width: fit-content;
            }
        }
        .card-body {
            margin-bottom: 1rem;
            .un-reading-item {
                background-color: #c2d8de;
                border: 1px solid #ebebeb;
                &.reading-item {
                    background-color: #fcfdfe;
                }
                .btngroupleft {
                    width: 0.2rem;
                    &.undelivery{
                        background-color: #fb5353;
                    }
                    &.uncoordinated{
                        background-color: #f3a31e;
                    }
                    &.waitingDelivery{
                        background-color: #e0e02c;
                    }
                }
                .data-row {
                    padding: .5rem 1rem;
                    .group-shipment-order-and-vehicle{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .group-shipment-order {
                            .btn-copy-clipboard {
                                @extend %btn-clip-board;
                            }
                        }
                        .vehicle {
                            color: #15c377;
                        }
                    }

                    .group-shipment-order-status-name {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #fc7425;
                        .data-time {
                            color: #1890ff;
                        }
                    }

                    .group-address {
                        display: flex;
                        align-items: center;
                        i {
                            color: #444242;
                            margin-right: 0.5rem;
                        }
                        .person-info {
                            .name {
                                font-weight: $font-weight-600;
                                color: #615d5d;
                                font-size: 0.8rem;
                                text-transform: uppercase;
                            }
                            .line {
                                margin: 0 5px;
                            }
                            .phone {
                                color: #1890ff;
                                &.partner-sale-Order{
                                    clear: both;
                                }
                                &.phonered{
                                    color: red;
                                }
                            }
                            .btn-copy-clipboard {
                                @extend %btn-clip-board;
                            }
                        }
                    }
                    .address-receiver {
                        color: #505050;
                        font-size: 0.8rem;
                        text-transform: capitalize;
                        .receiver-full-address {
                            margin: 0;
                        }
                        .shipment-order-type-name {
                            margin: 0;
                        }
                    }
                    .group-address {
                        .item {
                            &.address-repository-created {
                                font-weight: $font-weight-600;
                                color: #615d5d;
                                text-transform: capitalize;
                                font-family: inherit;
                                &.lblReturns{
                                    color: #d07300;
                                }
                            }
                        }
                    }
                    .price-debt {
                        color: #e64343;
                        font-weight: $font-weight-600;
                    }
                    .group-price {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .price3 {
                            color: #4a4a4a;
                        }
                        .price-supplies{
                            color: #f7c110;
                        }
                        .price-success {
                            .price-debt {
                                color: #15c377;
                            }

                            .price-title {
                                color: #15c377;
                                font-weight: $font-weight-600;
                            }
                        }
                        .price-error {
                            .price-title {
                                color: #e64343;
                                font-weight: $font-weight-600;
                            }
    
                            .price-debt {
                                color: #e64343;
                                font-weight: $font-weight-600;
                            }
                        }
                    }
                }
            }
        }
    }
}