.SearchForm {
    .rdt {
        width: 100%;

        input {
            position: absolute;
            z-index: 99;
            background: transparent;

            @media (max-width: 767px) {
                position: static;
            }
        }

        &::after {
            content: "\F073";
            position: absolute;
            top: 0;
            right: 0;
            color: #fff;
            background-color: #4c5c68;
            font: normal normal normal 18px/1 FontAwesome;
            width: 35px;
            height: 33px;
            border-radius: 0px 5px 5px 0px;
            text-align: center;
            cursor: pointer;
            padding: 8px 0;
            margin-top: 1px;

            @media (max-width: 767px) {
                height: 38px;
                margin-top: 0;
            }

        }

        &.rdtOpen {
            .rdtPicker {
                margin-top: 36px;
            }
        }
    }

    .col-form-label {
        padding-right: 10px;
        width: 22%;

        @media (max-width: 1557px) {
            width: 100%;
        }

        @media (max-width: 1278px) {}
    }


    .item {
        clear: both;
        position: relative;

        .input-group {
            input {
                border-radius: 5px;

                @media (min-width: 768px) {
                    height: 35px;
                }
            }

            select {
                height: 35px !important;
            }
        }

        .btnSearch {
            width: 100%;
            position: absolute;
            left: 15px;
            bottom: 0;
            margin: 0 auto;

            @media (max-width: 767px) {
                margin-top: 20px;
                position: static;
            }
        }
    }
}