.form-group-input-select {
    .select {

        .css-yk16xz-control,
        .css-1pahdxg-control {
            min-height: 30px;
        }

        .css-b8ldur-Input {
            height: 25px;
        }

        .css-1n7v3ny-option {
            padding: 4px 12px;
            font-size: 12px;
        }

        .css-1hwfws3 {
            font-size: 12px;
        }

        .css-yt9ioa-option,
        .css-9gakcf-option {
            padding: 3px 12px;
            font-size: 12px;
        }

        .css-tlfecz-indicatorContainer,
        .css-1gtu0rj-indicatorContainer {
            padding: 4px;
        }

        &.is-invalid {
            &~.invalid-feedback {
                display: block;
            }
        }

    }

    .multi-select {

        .css-yk16xz-control,
        .css-1pahdxg-control {
            min-height: 30px;
        }

        .css-1n7v3ny-option {
            padding: 4px 12px;
            font-size: 12px;
        }

        .css-1hwfws3 {
            font-size: 12px;
        }

        .css-yt9ioa-option,
        .css-9gakcf-option {
            padding: 3px 12px;
            font-size: 12px;
        }

        .css-tlfecz-indicatorContainer,
        .css-1gtu0rj-indicatorContainer {
            padding: 4px;
        }

    }
}

.select-custom-controll-modal {

    .css-yk16xz-control,
    .css-1pahdxg-control {
        min-height: 30px;
    }

    .css-b8ldur-Input {
        height: 25px;
        input[type="text"]{
            line-height: 20px;
            height: 20px;
        }
        input{
            line-height: 20px;
            height: 20px;
        }
       
    }

    .css-1n7v3ny-option {
        padding: 4px 12px;
        font-size: 12px;
    }

    .css-1hwfws3 {
        font-size: 12px;
    }

    .css-yt9ioa-option,
    .css-9gakcf-option {
        padding: 3px 12px;
        font-size: 12px;
    }

    .css-tlfecz-indicatorContainer,
    .css-1gtu0rj-indicatorContainer {
        padding: 4px;
    }

    &.is-invalid {
        &~.invalid-feedback {
            display: block;
        }
    }
}

.react-select {

    .css-yk16xz-control,
    .css-1pahdxg-control {
        min-height: 30px;
        border-color: #808080;
    }

    .css-b8ldur-Input {
        height: 25px;
        input[type="text"]{
            line-height: 20px;
            height: 20px;
        }
        input{
            line-height: 20px;
            height: 20px;
        }
       
    }
    .css-12jo7m5{
        padding: 0px;
    }


    .css-1n7v3ny-option {
        padding: 4px 12px;
        font-size: 12px;
    }

    .css-1hwfws3 {
        font-size: 12px;
    }

    .css-yt9ioa-option,
    .css-9gakcf-option {
        padding: 3px 12px;
        font-size: 12px;
    }

    .css-tlfecz-indicatorContainer,
    .css-1gtu0rj-indicatorContainer {
        padding: 4px;
    }

    &.is-invalid {
        .css-yk16xz-control{
            border-color: #f96868;
        }
        &~.invalid-feedback {
            display: block;
        }
    }
}


.form-group select {
    border-color: #d9d9d9d9;
}