.sidebar-custom {
    .sidebar-navigation {
        display: flex;
        flex-direction: column;
        .brand-sidebar {
            display: flex;
            justify-content: center;
            background-color: white;
            -webkit-box-shadow: 0px -5px 7px 1px rgba(42,40,40,0.88);
            box-shadow: 0px -5px 7px 1px rgba(42,40,40,0.88);
            img {
                height: 64px;
            }
        }
        .menu {
            height: 100vh;
            margin-bottom: 0;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .footer-sidebar {
            width: 100%;
            bottom: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px 0;
            background-color: #fff;
            .username {
                font-size: 16px;
            }
            .fa-sign-out {
                font-size: 25px;
            }
            .link-logout {
                color: #4d5259;
            }
        }
    }
}