.slide{
    .each-slide {
        width: 100%;
        display: inline-block;
        max-width: initial;
        .card {
            .card-body{
                min-height: 100px;
            }
        }
    }
    
}

.react-slideshow-container{
    .nav {
        background: #a9a4a499;
        svg{
            font-size: 15px;
            width: 14px !important;
        }
    }
}