.table {
    thead {
        th {
            //line-height: 20px;

            .checkbox {
                width: 21px;
                height: 21px;
                //line-height: 33px;
                float: none;
                margin: 0 auto;

                &.customCheckbox {
                    label {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    tbody {
        td {
            .checkbox {
                width: 21px;
                height: 18px;
                //line-height: 33px;
                float: none;
                margin: 0 auto;

                &.customCheckbox {
                    label {
                        padding-top: 0;
                    }
                }

                label {
                    margin-bottom: 0;
                }
            }

            label {
                margin-bottom: 0;
            }

            input {
                &.form-control {
                    border-color: #a9a9a9;
                }
            }

            .group-action {
                display: flex;
                justify-content: space-around;

                .btn-edit {
                    color: #33cabb;
                }
            }

            .form-row {
                .form-group {
                    margin-bottom: 0 !important;
                }
            }

            &.btngroupleft {
                clear: both;

                .group-action {
                    display: inline-block;
                    float: none;

                    .item-action {
                        width: 100%;
                        display: flex;
                        height: 20px;
                        text-align: center;
                        float: none;
                        justify-content: center;
                        align-content: center;
                        margin-bottom: 10px;

                        .cr {
                            margin-right: 0;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &.group-address {
                clear: both;

                .group-info-row {
                    display: inline-block;
                    float: none;

                    .item {
                        width: 100%;
                        display: inherit;
                        height: 20px;
                        float: initial;
                        justify-content: flex-start;
                        align-content: center;
                        margin-bottom: 5px;
                        font-size: 14px;
                        text-align: left;

                        i {
                            margin-right: 10px;
                            padding-top: 5px;
                        }

                        &.person {
                            color: #1890ff;

                            i {
                                color: #444242;
                            }

                            .person-info {
                                .name {
                                    font-weight: 500;
                                    font-size: 15px;
                                    text-transform: uppercase;
                                    color: #444242;
                                }

                                .line {
                                    margin: 0 5px;
                                }

                                .phone {
                                    color: #1890ff;
                                }
                            }
                        }

                        &.address-receiver {
                            color: #989593;
                            text-transform: capitalize;
                        }

                        &.address-repository-created {
                            color: #505050;
                            text-transform: capitalize;
                            font-weight: 500;
                            font-family: inherit;

                        }

                        &.creacte-time {
                            color: #6c757d;

                            span {
                                display: initial;
                                width: 100%;

                                &.times {

                                    .item {}

                                    .pull-left {
                                        width: 70px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.group-price {
                clear: both;

                .group-row {
                    display: inline-block;
                    float: none;
                    width: 100%;
                    .item {
                        width: 100%;
                        display: flex;
                        height: 20px;
                        float: none;
                        justify-content: flex-end;
                        align-content: center;
                        margin-bottom: 5px;
                        font-size: 14px;
                        &.price-success{
                            .price-debt{
                                color: #15c377;
                            }
                            .price-title {
                                color: #15c377;
                                font-weight: 500;
                                margin-right: 5px;
                            }
                        }
                        .price-title {
                            color: #e64343;
                            font-weight: 500;
                            margin-right: 5px;
                        }
                        .price-debt{
                            color: #e64343;
                            font-weight: 500;
                        }
                        &.pricecod{
                            color: #4a4a4a;
                        }
                        &.price-supplies{
                            color: #fbae00;
                        }
                    }
                }
            }

            &.groupInfoAction {
                clear: both;

                .group-info-row {
                    display: inline-block;
                    float: none;

                    .item {
                        width: 100%;
                        display: inherit;
                        height: 20px;
                        text-align: left;
                        float: none;
                        justify-content: flex-start;
                        align-content: center;
                        margin-bottom: 5px;
                        font-size: 14px;

                        i {
                            margin-right: 10px;
                            padding-top: 5px;
                        }

                        &.time {
                            color: #1890ff;
                        }

                        &.status {
                            color: #fc7425;
                        }

                        &.vehicle {
                            color: #15c377;
                        }

                        &.printing {
                            color: #6c757d;
                        }
                    }
                }
            }
        }

    }

    .img-group {
        padding-left: 0;

        li {
            list-style: none;
            float: left;
            margin: 0;

            .img-item {
                width: 40px;
                height: 40px;
                border: 2px solid #fff;
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;

                &>img {
                    width: 100%;
                    min-height: 100%;
                    height: auto;
                }

                &:hover {
                    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
                    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
                    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
                    transform: translateY(-3px);
                }
            }
        }
    }

    &.table-hover {
        tbody {
            tr {
                &:hover {
                    background-color: #e9ecef;
                }
            }
        }
    }
}