.table{
    thead{
        th{
            line-height: 20px;
            .checkbox {
                width: 21px;
                height: 21px;
                line-height: 33px;
                float: none;
                margin: 0 auto;
                &.customCheckbox{
                    label{
                        padding-top: 0;
                    }
                }
            }
        }
    }
    tbody{
        td{
            .checkbox {
                width: 21px;
                height: 21px;
                line-height: 33px;
                float: none;
                margin: 0 auto;
                &.customCheckbox{
                    label{
                        padding-top: 0;
                    }
                }
                label{
                    margin-bottom: 0;
                }
            }
            label{
                margin-bottom: 0;
            }
            input{
                &.form-control{
                    border-color: #a9a9a9;
                }
            }
            .group-action {
                display: flex;
                justify-content: space-around;
                .btn-edit{
                    color: #33cabb;
                }
            }
        }
    }
}