.attachedList{
    overflow: hidden; 
    padding: 8px 0 4px; 
    li{
        float: left; 
        margin: 4px 8px 4px 0; 
        position: relative;
        list-style: none;
        .fileType {
            padding: 2px 0 0;
            height: 40px;
            .doctype {
                display: inline-block;
                margin: 2px;
                &::before {
                    content: "";
                    background: url("../img/sprite-doctype.png") no-repeat scroll -203px -38px;
                    display: block;
                    width: 32px;
                    height: 32px;
                    background-position: -201px 0px;
                }
                &.docx{
                    &::before {
                        background-position: -201px 0px;
                    }
                }
                &.zip{
                    &::before {
                        background-position: 4px 0px;
                    }
                }
                &.xlsx{
                    &::before {
                        background-position: -133px -38px;
                    }
                }
                &.pdf {
                    &::before {
                        background-position: -135px 0px;
                    }
                }
            }
        }
        .delIcon {
            font-size: 27px;
            font-weight: bold;
            color: #999;
            position: absolute;
            right: -4px;
            top: -4px;
            width: 15px;
            height: 15px;
            padding-top: 0px;
            text-align: center;
            background-color: #aaa;
            color: #fff;
            border-radius: 50%;
            display: none;
            z-index: 20;
        }
        &:hover{
            .delIcon {
                display: block;
            }
            
        }
        .group-video{
            h4{
                clear: both;
            }
        }
    }
    
    a { 
        display: block; 
        height: 42px; 
        padding: 1px 8px; 
        background-color: #f5f5f5; 
        border: 1px solid #ddd; 
        &:hover{
            background-color: #eee;
        }
    }
    
    .attachName { 
        margin-left: 45px; 
        height: 36px;
        .hideCont { 
            max-width: 150px; 
            color: #474747; 
            line-height: 24px; 
            overflow: hidden; 
            white-space: nowrap; 
            font-weight: 700;
        }
        .attachSize {
            color: #999;
            font-size: 12px;
            position: absolute;
            bottom: 0;
        }
    }
    .addFile {
        border: 1px dashed #ccc;
        text-align: center;
        color: #ddd;
        text-transform: uppercase;
        display: block;
        height: 41px;
        background-color: #fff;
        padding: 2px 12px;
        h3{
            margin: 0;
            font-size: 12px;
            white-space: nowrap;
            display: inline;
            line-height: 35px;
            margin-left: 10px;
        }
        i {
            font: 400 28px Arial, sans-serif;
            line-height: 35px;
            vertical-align: top;
        }
    }

}
