@import "_avarible";
@import "components/index";
@import '_SearchForm';
@import '_comment';
@import '_tooltip';
@import '_ModalConfirm';
@import '_notification';
@import 'inputgroup';
@import 'collapsible';
@import "./attached";
@import "Images.scss";
@import "editor.scss";
@import "./table";
@import "./page404";
@import "./card";
@import "./button";
@import "./input";
@import "./stepper";
@import "./select";
@import "./googleMaps";
@import "./datePicker";
@import "./antpicker";
@import "./modal";
@import "./breadcrumb";
@import "./labelStatus";
@import "./print";
@import "./dropdown";
@import "./guide";

@import "./datetime";
@import "./pageshipmentorder";
@import "./spin";
@import "./sidebar";
@import "./_accountsite";
@import "./infoCoordinator";
@import "./CoordinatorGroup";


body{
    &.showModal{
        overflow: hidden;
    }
    .main-container{
        
    }
}

.errorAdvanceRequestDetail{
    color: #f93030;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    letter-spacing: .5px;
    p{
        margin-bottom: 0;
    }

}
.main-content{
    padding: 10px 20px 0 !important;
}
// Css menu trang sản phẩm
.sidebar-left{
    transition: margin-left 0.3s ease;
    background-color: #fff;
    box-shadow: 4px 0 5px rgba(0,0,0,0.08);
    padding: 0;
    .nav{
        &.flex-column{
            &.nav-pills{
                .nav-item{
                    padding: 0;
                    
                }
                .nav-item{
                    &>*{
                        margin: 0;
                        padding: 0 12px;
                    }
                    .nav-link{
                        &.active{
                            color: #ffffff;
                            font-weight: 500;
                            background-color: #868181e0;
                        }
                    }
                }
            }
        }
    }
}
.input-footer-button-group{
    float: right;
}
.modal-label-right{
    float: right;
}
.modal-label-left{
    float: left;
}
.editEditor
{
    text-align: left;
}
.mfp-zoom-out {
  
  /* start state */
    .mfp-with-anim {
        opacity: 0;
        transition: all 0.3s ease-in-out; 
        transform: scale(1.3); 
    }
    &.mfp-bg {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    /* animate in */
    &.mfp-ready {
        .mfp-with-anim {
            opacity: 1;
            transform: scale(1); 
        }
        &.mfp-bg {
            opacity: 0.8;
        }
    }
    /* animate out */
    &.mfp-removing {
        .mfp-with-anim {
            transform: scale(1.3); 
            opacity: 0;
        }
        &.mfp-bg {
            opacity: 0;
        }
        
    }
  
}

/* cus modal */
.modal-custom{
    .modal-footer{
        border-top: 1px solid #f1f2f3;
    }
}

/* cus checkbox */
.custom-controls-stacked{
    .custom-checkbox{
        .custom-control-label{
            &::before{
                border: 1px solid #929292;
                border-radius: .2em;
                width: 20px;
                height: 20px;
                margin-right: .5em;
                color: #33cabb;
                font-size: 15px;
                background-color: #fff;
                margin-top: 5px;
            }
            &::after{

            }
            &:empty{
                &::after{
                    top: 6px;
                }
            }
        }
    }
}
// cus file-group
.file-group{
    .form-control{
        &.file-value{
            height: 36px;
        }
    }
}
.checkbox{
    float: left;
    text-align: left;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: .2em;
    width: 18px;
    height: 18px;
    margin-right: .5em;
    color: #33cabb;
    font-size: 15px;
    background-color: #fff;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 15%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
    background: #f5f5f5;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.btnsubmit{
    button{
        margin-top: 15px;
    }
}

.frminfo{
    .form-row {
        > [class*=col-]{
            margin-bottom: 0px;
            label{
                margin-bottom: 0;
            }
        }
    }
    .btnback{
        color: #4d5259 !important;
    }
}

.form-group {
    .invalid-feedback {
        text-align: left;
    }
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background: -moz-linear-gradient(-45deg, rgba(76,76,76,0.77) 0%, rgba(84,84,84,0.77) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(76,76,76,0.77) 0%,rgba(84,84,84,0.77) 100%);
	background: linear-gradient(135deg, rgba(76,76,76,0.77) 0%,rgba(84,84,84,0.77) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44c4c4c', endColorstr='#c4545454',GradientType=1 );
}

.fa-6x{
    font-size: 6em !important;
}

.de-active{
    pointer-events: none;
}

.col-form-label{
    text-transform: capitalize;
    &.showMask {
        color: #f96868;
        font-size: 13px;
        font-weight: 300;
    }
    &.lbl-currency{
        background: #827f7f;
        padding: 0 5px;
        border-radius: 4px;
        color: #e2e2e2;
        & ~ button{
            margin-left: 10px;
        }
    }
    &.lbl-currency-total{
        background: #f5a34a;
        padding: 0 5px;
        border-radius: 4px;
        color: #ffffff;
        font-weight: 500;
    }
    &.countTotal{
        color: #f96868;
        font-size: 13px;
        font-weight: 600;
    }
    &.txtTotal{
        text-transform: initial;
        color: #4e4e4e;
        font-size: 13px;
        font-weight: 600;
    }
}
.checkbox{
    &.customCheckbox{
        label{
            margin-bottom: 0;
            padding-top: 5px;
        }
        .txtSmall{
            font-size: 85%;
            color: #969696;
            display: block;
        }
    }
}


input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus,
textarea.form-control:-webkit-autofill,
textarea.form-control:-webkit-autofill:hover,
textarea.form-control:-webkit-autofill:focus,
select.form-control:-webkit-autofill,
select.form-control:-webkit-autofill:hover,
select.form-control:-webkit-autofill:focus {
    -webkit-text-fill-color: #3a3a3a;
    -webkit-box-shadow: 0 0 0px 1000px #e2e2e2 inset;
    transition: background-color 5000s ease-in-out 0s;
    outline: 0;
    outline: 0;
    box-shadow: none;
}


.x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
    position: relative;
    margin-bottom: 10px;
   
    .x_title {
        border-bottom: 2px solid #E6E9ED;
        padding: 1px 5px 6px;
        margin-bottom: 10px;
        h2 {
            margin: 5px 0 6px;
            float: left;
            display: block;
            font-size: 18px;
            font-weight: 500;
            white-space: nowrap;
            color: #135ead;
        }
    }

    .x_content {
        padding: 0 5px 6px;
        float: left;
        clear: both;
        margin-top: 5px;
        font-size: 15px;
        div {
            clear: both;
            span:first-child{
                //min-width: 200px;
                display: inline-block;
                font-weight: 500;
                vertical-align: top;
                margin-right: 10px;
            }
            span.xcode{
                color: #349ae0;
                font-weight: 500;
            }
            span.xcontent{
                //max-width: 400px;
                display: inline-block;
                // word-break: break-all;
                 white-space: pre-wrap;
                // white-space: -moz-pre-wrap;
                width: 80%;
                
            }
            span code{
                white-space: pre-wrap;
            }
            
        }
        .customCheckbox{
            //margin-bottom: 0px !important;
            label{
                padding-top: 0px;
            }
        }
        .cr{
            vertical-align: text-bottom;
        }
    }
   
}

.sub-grid{
    width: 100%;
    margin-bottom: 10px;
    // td,th{
    //      padding-top: .5rem;
    //      padding-bottom: .5rem;
    // }
    td{
        .nav-link{
            line-height: 0;
        }
    }
    .card-title{
        border-bottom: 0px solid #d9d9d9;
        
        b{
            font-size: 16px;
            font-weight: 500;
        }
        
    }
    &.detail{
        .card-title{
            margin-bottom: -50px;
        }
        
    }
    &.detail-inputgrid{
        .card-title{
            margin-bottom: -65px;
        }
        margin-bottom: -10px;
    }
}

.message-detail {
    label{
        font-size: 15px;
        text-align: center;
        display: block;
        margin-top: 60px;
    }
    
}

.permissionGrid {
    display: grid;
    //margin-left: -65px;
}

.inputgrid1 {
    // td {
    //     padding: .5rem !important;
    // }
    a{
        &.nav-link{
            padding: 0px;
            line-height: 0px;
        }
    }
}

.search-forms{
    margin-left: 0px;
    .search-forms-item{
        display: inline-block;
        float: left;
        width: 12%;
        margin-right: 10px;
        margin-bottom: 10px;
        min-height: 42px;
    }
    
}

.btnSearchSubmitCustom{
    bottom: 7px;
}



