.SearchForm .card .card-body.card-body-custom {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.SearchForm .card .card-title.card-title-custom {
  padding-top: 15px;
  padding-bottom: 15px;
}

.table.table-custom {
  margin-bottom: 0 !important ;
}

.menu-options {
  display: none;
}

.menu-options-fixed {
  display: block;
  position: fixed;
  bottom: 70px;
  right: 70px;
  z-index: 999;
  background-color: transparent;
}

.table-custom-scroll::-webkit-scrollbar {
  width: 2px;
}

.CollapsibleCustom {
  background-color: #f0f0f0;
  margin-bottom: 10px !important;
  transition: all 0.5;
  border: 1px solid rgba(144, 202, 249, 0.46);
  &:hover {
    cursor: pointer;
  }

  .Collapsible__contentInner {
    .row {
      .card {
        .card-body {
          .form-row {
            @media (max-width: 768px) {
              .form-group {
                &:first-child {
                  display: none;
                }
                margin-bottom: 0 !important;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  .Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: white;
    position: relative;
    padding: 0px !important;
    background: #0cabbf;

    &::after {
      font-family: "FontAwesome";
      content: "\f107";
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      transition: transform 300ms;
    }

    &.is-open {
      &::after {
        transform: rotateZ(180deg);
      }
    }

    &.is-disabled {
      opacity: 0.5;
      background-color: grey;
    }

    &.collapsible-open-custom {
      padding: 0px !important;
    }
  }

  table tr td {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

.Collapsible {
  margin-bottom: 10px !important;
  .Collapsible__contentInner {
    border: 1px solid #d9d9d9 !important;
    padding: 0 !important;
  }
  .collapsible-open-custom {
    padding: 0px !important;
  }

  .Collapsible__trigger.is-disabled{
    opacity: 1 !important;
  }
}

.ant-collapse-search .ant-collapse-content-box{
  padding: 0 !important;
}

.ant-col.ant-col-ma {
  margin: auto;
}

.ant-tabs{
  padding: 8px !important;
}

.ant-dropdown-custom-300 {
  width: 300px !important;
}

.ant-dropdown-custom-400 {
  width: 400px !important;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  background-color: #a9a4a499;
}

.ant-carousel-custom {
  .slick-slide {
    padding: 0 10px;
  }

  .slick-next {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    background-color: #a9a4a499;
    z-index: 999;
  }

  .slick-prev {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
    background-color: #a9a4a499;
    z-index: 999;
  }
}

.ant-carousel .slick-dots-bottom {
  bottom: -23px;
}
.ant-col-npd {
  padding: 0 0 !important;
}

.ant-modal-custom {
  .ant-drawer-close {
    padding: 10px;
  }
}

.f-13 * {
  font-size: 13px;
}

.scroll-2::-webkit-scrollbar {
  width: 2px;
}

.text {
  line-height: 23px;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.text-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
