.editor {
    border: 1px solid #F1F1F1;
    .rdw-editor-toolbar{
        border: 0;
        border-bottom: 1px solid #F1F1F1;
    }
    .DraftEditor-editorContainer{
        padding: 0 10px;
    }
    label{
        padding: 0 10px;
    }
}