.input-group-cus{
    .input-group{
        .item-group {
            background-color: hsl(0,0%,90%);
            border-radius: 2px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin: 2px;
            min-width: 0;
            box-sizing: border-box;
            float: left;
            label {
                border-radius: 2px;
                color: #222;
                font-size: 85%;
                overflow: hidden;
                padding: 3px;
                padding-left: 6px;
                text-overflow: ellipsis;
                white-space: nowrap;
                box-sizing: border-box;
                margin-bottom: 0;
            }
            .icon-delete {
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border-radius: 2px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                padding-left: 4px;
                padding-right: 4px;
                box-sizing: border-box;
                cursor: pointer;
                &:hover{
                    background-color: #FFBDAD;
                    color: #DE350B;
                }
            }
        }
    }
}
.group-text-select {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    input{
        &.form-control{
            &.txtKeyword {
                width: 65%;
                float: left;
                border-radius: 4px 0 0 4px !important;
                height: 35px;
                border: 0;
                border: 1px solid #808080;

            }
        }
    }
    
    .cboption {
        width: 35%;
        float: right;
        border-radius: 0 4px 4px 0;
        height: 35px !important;
        border: 0;
    }
    .input-group-append{
        width: 35%;
        float: right;
        border-radius: 0 4px 4px 0;
        height: 35px !important;
        border: 0;
        .dropdown-toggle{
            width: 100%;
            border-color: #808080;
            height: 35px;
            color: #333333;
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 0px 0px 0px 5px;
            line-height: 35px;
            overflow: hidden;
            &::after{
                position: absolute;
                right: 3px;
                top: 0;
                bottom: 0;
                margin-bottom: auto;
                margin-top: auto;
            }
        }
    }
}

.input-group{
    input{
        line-height: 27px;
    }
    .form-control{
        border-color: #a9a9a9;
    }
}
.form-group{
    .input-group-prepend{
        .btn{
            border-color: #a9a9a9;
        }
    }
    input{
        border-color: #a9a9a9;
        line-height: 27px;
    }
    select{
        border-color: #a9a9a9;
        height: 36px !important;
    }
    textarea{
        border-color: #a9a9a9;
    }
}
