html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.main-container {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
}

#guide-container {
    background-color: #f1f1f1;
    width: 500px;
    height: 100%;
    border-right: 1px gray solid;
}

#map-container {
    width: -moz-calc(100% - (501px));
    width: -webkit-calc(100% - (501px));
    width: calc(100% - (501px));
    height: 100%;
}

ul.menuCtx {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 300;
    width: 150px;
    background-color: #f1f1f1;
}

ul.menuCtx li a {
    display: block;
    padding: 8px 16px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 1px 0px;
    cursor: pointer;
    text-decoration: none;
    background-color: #4CAF50;
}

/* Change the link color on hover */
ul.menuCtx li a:hover {
    background-color: #0000FF;
}

.customMarker {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAiCAMAAABodAmPAAAAtFBMVEUAAAD/gHb/fXKdPTf/g3j/f3X/h3z/hXv/e2//eW31fnSyT0jChoLCVUyyTEWsR0CiQTvdu7nJlJHsdm3/dmqxX1rHV0+oT0m6TUanS0bu2tnjsa3OnpvDbmejQzzet7TZtLHOmpbHkIz1d23sc2nQYlrQYFfUXVTHXFStV1LJWVG+UEivSkSlSUOxSEGePTfsxMHsvrrPoJ3gnpnYk47ZiYPKhoPKf3rAd3LHc23AZF20U0wawMGfAAAAAXRSTlMAQObYZgAAAQJJREFUKM9tzdd2gzAMgGEFUSgYDAFC2Nl7dc/3f68KA2U4/5XPd2QJ6uZLy1rOoVt2QXY+M7xkrU1wb2qUucdJY1MmSDCb1nPc1PQ6zeRiNkNf11V1RKnEPr6UnzdmRYJVc0MLxuiTtaj6OAaPVdYq88ByCHvqWISjQYQeHyL36NC6b2s6BPH2gaqgfG1jAFjgSlFKLklRVrgA6mArQoko+wCimLTJjqEqKcLGwiKBuhkeH0VHnMF/X7xCnkOnIjSo0IVuH06Jzif0cm3DsF3ol0eGEf0MMMUgwFcY5AaBC8N+dzsm4ffplEv4FkXvEqbXayrhE+IzSCEm9xDkbjdo+gOMghGGo/phOwAAAABJRU5ErkJggg==);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Style the header */
.header {
    background-color: #e2cac9;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 96%;
    padding: 10px;
    float: left;
    font-size: 16px;
    margin: 5px;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

ul.steps {
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
}

ul.steps li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



ul.steps li:hover {
    background: #ddd;
}